<h1>Unicode Academy</h1>
<p>Chào bạn: <%= locals.name %></p>
<p>
  Link:
  <a
    href="https://muskox-sweet-rattler.ngrok-free.app/users/click?url=https://unicode.vn"
    >https://unicode.vn</a
  >
</p>
<img
  src="https://muskox-sweet-rattler.ngrok-free.app/users/tracking?id=1"
  width="1"
  height="1"
/>
